# Read CSV Files and Some Operations on csv files

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('D:\\Pyhton\\dataset\\StudentsPerformance.csv')
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
10,male,group C,associate's degree,standard,none,58,54,52
11,male,group D,associate's degree,standard,none,40,52,43
12,female,group B,high school,standard,none,65,81,73
13,male,group A,some college,standard,completed,78,72,70
14,female,group A,master's degree,standard,none,50,53,58
15,female,group C,some high school,standard,none,69,75,78
16,male,group C,high school,standard,none,88,89,86
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
19,female,group C,associate's degree,free/reduced,none,54,58,61
20,male,group D,high school,standard,none,66,69,63
21,female,group B,some college,free/reduced,completed,65,75,70
22,male,group D,some college,standard,none,44,54,53
23,female,group C,some high school,standard,none,69,73,73
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
25,male,group A,master's degree,free/reduced,none,73,74,72
26,male,group B,some college,standard,none,69,54,55
27,female,group C,bachelor's degree,standard,none,67,69,75
28,male,group C,high school,standard,none,70,70,65
29,female,group D,master's degree,standard,none,62,70,75
...,...,...,...,...,...,...,...,...
970,female,group D,bachelor's degree,standard,none,89,100,100
971,male,group C,some high school,standard,completed,78,72,69
972,female,group A,high school,free/reduced,completed,53,50,60
973,female,group D,some college,free/reduced,none,49,65,61
974,female,group A,some college,standard,none,54,63,67
975,female,group C,some college,standard,completed,64,82,77
976,male,group B,some college,free/reduced,completed,60,62,60
977,male,group C,associate's degree,standard,none,62,65,58
978,male,group D,high school,standard,completed,55,41,48
979,female,group C,associate's degree,standard,none,91,95,94
980,female,group B,high school,free/reduced,none,8,24,23
981,male,group D,some high school,standard,none,81,78,78
982,male,group B,some high school,standard,completed,79,85,86
983,female,group A,some college,standard,completed,78,87,91
984,female,group C,some high school,standard,none,74,75,82
985,male,group A,high school,standard,none,57,51,54
986,female,group C,associate's degree,standard,none,40,59,51
987,male,group E,some high school,standard,completed,81,75,76
988,female,group A,some high school,free/reduced,none,44,45,45
989,female,group D,some college,free/reduced,completed,67,86,83
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [3]:
df=pd.read_csv('D:\\Pyhton\\dataset\\StudentsPerformance.csv', nrows=10)      # Print only first 10 rows
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [4]:
df=pd.read_csv('D:\\Pyhton\\dataset\\StudentsPerformance.csv', usecols=[0,1,4,5,6])     # Print Some specific Columns
df

     gender race/ethnicity test preparation course  math score  reading score
0    female        group B                    none          72             72
1    female        group C               completed          69             90
2    female        group B                    none          90             95
3      male        group A                    none          47             57
4      male        group C                    none          76             78
5    female        group B                    none          71             83
6    female        group B               completed          88             95
7      male        group B                    none          40             43
8      male        group D               completed          64             64
9    female        group B                    none          38             60
10     male        group C                    none          58             54
11     male        group D                    none          40             52
12   female        group B                    none          65             81
13     male        group A               completed          78             72
14   female        group A                    none          50             53
15   female        group C                    none          69             75
16     male        group C                    none          88             89
17   female        group B                    none          18             32
18     male        group C               completed          46             42
19   female        group C                    none          54             58
20     male        group D                    none          66             69
21   female        group B               completed          65             75
22     male        group D                    none          44             54
23   female        group C                    none          69             73
24     male        group D               completed          74             71
25     male        group A                    none          73             74
26     male        group B                    none          69             54
27   female        group C                    none          67             69
28     male        group C                    none          70             70
29   female        group D                    none          62             70
..      ...            ...                     ...         ...            ...
970  female        group D                    none          89            100
971    male        group C               completed          78             72
972  female        group A               completed          53             50
973  female        group D                    none          49             65
974  female        group A                    none          54             63
975  female        group C               completed          64             82
976    male        group B               completed          60             62
977    male        group C                    none          62             65
978    male        group D               completed          55             41
979  female        group C                    none          91             95
980  female        group B                    none           8             24
981    male        group D                    none          81             78
982    male        group B               completed          79             85
983  female        group A               completed          78             87
984  female        group C                    none          74             75
985    male        group A                    none          57             51
986  female        group C                    none          40             59
987    male        group E               completed          81             75
988  female        group A                    none          44             45
989  female        group D               completed          67             86
990    male        group E               completed          86             81
991  female        group B               completed          65             82
992  female        group D                    none          55             76
993  female        group D                    none          62             72
994    male        group A                    none          63             63
995  female        group E               completed          88             99
996    male        group C                    none          62             55
997  female        group C               completed          59             71
998  female        group D               completed          68             78
999  female        group D                    none          77             86

[1000 rows x 5 columns]

In [5]:
df=pd.read_csv('D:\\Pyhton\\dataset\\StudentsPerformance.csv', skiprows=[0,1,5,6])  # Skip some specific rows
df

,female,group C,some college,standard,completed,69,90,88
0,female,group B,master's degree,standard,none,90,95,93
1,male,group A,associate's degree,free/reduced,none,47,57,44
2,female,group B,some college,standard,completed,88,95,92
3,male,group B,some college,free/reduced,none,40,43,39
4,male,group D,high school,free/reduced,completed,64,64,67
5,female,group B,high school,free/reduced,none,38,60,50
6,male,group C,associate's degree,standard,none,58,54,52
7,male,group D,associate's degree,standard,none,40,52,43
8,female,group B,high school,standard,none,65,81,73
9,male,group A,some college,standard,completed,78,72,70
10,female,group A,master's degree,standard,none,50,53,58
11,female,group C,some high school,standard,none,69,75,78
12,male,group C,high school,standard,none,88,89,86
13,female,group B,some high school,free/reduced,none,18,32,28
14,male,group C,master's degree,free/reduced,completed,46,42,46
15,female,group C,associate's degree,free/reduced,none,54,58,61
16,male,group D,high school,standard,none,66,69,63
17,female,group B,some college,free/reduced,completed,65,75,70
18,male,group D,some college,standard,none,44,54,53
19,female,group C,some high school,standard,none,69,73,73
20,male,group D,bachelor's degree,free/reduced,completed,74,71,80
21,male,group A,master's degree,free/reduced,none,73,74,72
22,male,group B,some college,standard,none,69,54,55
23,female,group C,bachelor's degree,standard,none,67,69,75
24,male,group C,high school,standard,none,70,70,65
25,female,group D,master's degree,standard,none,62,70,75
26,female,group D,some college,standard,none,69,74,74
27,female,group B,some college,standard,none,63,65,61
28,female,group E,master's degree,free/reduced,none,56,72,65
29,male,group D,some college,standard,none,40,42,38
...,...,...,...,...,...,...,...,...
966,female,group D,bachelor's degree,standard,none,89,100,100
967,male,group C,some high school,standard,completed,78,72,69
968,female,group A,high school,free/reduced,completed,53,50,60
969,female,group D,some college,free/reduced,none,49,65,61
970,female,group A,some college,standard,none,54,63,67
971,female,group C,some college,standard,completed,64,82,77
972,male,group B,some college,free/reduced,completed,60,62,60
973,male,group C,associate's degree,standard,none,62,65,58
974,male,group D,high school,standard,completed,55,41,48
975,female,group C,associate's degree,standard,none,91,95,94
976,female,group B,high school,free/reduced,none,8,24,23
977,male,group D,some high school,standard,none,81,78,78
978,male,group B,some high school,standard,completed,79,85,86
979,female,group A,some college,standard,completed,78,87,91
980,female,group C,some high school,standard,none,74,75,82
981,male,group A,high school,standard,none,57,51,54
982,female,group C,associate's degree,standard,none,40,59,51
983,male,group E,some high school,standard,completed,81,75,76
984,female,group A,some high school,free/reduced,none,44,45,45
985,female,group D,some college,free/reduced,completed,67,86,83
986,male,group E,high school,free/reduced,completed,86,81,75
987,female,group B,some high school,standard,completed,65,82,78
988,female,group D,associate's degree,free/reduced,none,55,76,76
989,female,group D,bachelor's degree,free/reduced,none,62,72,74
990,male,group A,high school,standard,none,63,63,62
991,female,group E,master's degree,standard,completed,88,99,95
992,male,group C,high school,free/reduced,none,62,55,55
993,female,group C,high school,free/reduced,completed,59,71,65
994,female,group D,some college,standard,completed,68,78,77
995,female,group D,some college,free/reduced,none,77,86,86

In [6]:
df=pd.read_csv('D:\\Pyhton\\dataset\\StudentsPerformance.csv', index_col='reading score') # Make columns to an Index
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,writing score
reading score,,,,,,,
72,female,group B,bachelor's degree,standard,none,72,74
90,female,group C,some college,standard,completed,69,88
95,female,group B,master's degree,standard,none,90,93
57,male,group A,associate's degree,free/reduced,none,47,44
78,male,group C,some college,standard,none,76,75
83,female,group B,associate's degree,standard,none,71,78
95,female,group B,some college,standard,completed,88,92
43,male,group B,some college,free/reduced,none,40,39
64,male,group D,high school,free/reduced,completed,64,67
60,female,group B,high school,free/reduced,none,38,50
54,male,group C,associate's degree,standard,none,58,52
52,male,group D,associate's degree,standard,none,40,43
81,female,group B,high school,standard,none,65,73
72,male,group A,some college,standard,completed,78,70
53,female,group A,master's degree,standard,none,50,58
75,female,group C,some high school,standard,none,69,78
89,male,group C,high school,standard,none,88,86
32,female,group B,some high school,free/reduced,none,18,28
42,male,group C,master's degree,free/reduced,completed,46,46
58,female,group C,associate's degree,free/reduced,none,54,61
69,male,group D,high school,standard,none,66,63
75,female,group B,some college,free/reduced,completed,65,70
54,male,group D,some college,standard,none,44,53
73,female,group C,some high school,standard,none,69,73
71,male,group D,bachelor's degree,free/reduced,completed,74,80
74,male,group A,master's degree,free/reduced,none,73,72
54,male,group B,some college,standard,none,69,55
69,female,group C,bachelor's degree,standard,none,67,75
70,male,group C,high school,standard,none,70,65
70,female,group D,master's degree,standard,none,62,75
...,...,...,...,...,...,...,...
100,female,group D,bachelor's degree,standard,none,89,100
72,male,group C,some high school,standard,completed,78,69
50,female,group A,high school,free/reduced,completed,53,60
65,female,group D,some college,free/reduced,none,49,61
63,female,group A,some college,standard,none,54,67
82,female,group C,some college,standard,completed,64,77
62,male,group B,some college,free/reduced,completed,60,60
65,male,group C,associate's degree,standard,none,62,58
41,male,group D,high school,standard,completed,55,48
95,female,group C,associate's degree,standard,none,91,94
24,female,group B,high school,free/reduced,none,8,23
78,male,group D,some high school,standard,none,81,78
85,male,group B,some high school,standard,completed,79,86
87,female,group A,some college,standard,completed,78,91
75,female,group C,some high school,standard,none,74,82
51,male,group A,high school,standard,none,57,54
59,female,group C,associate's degree,standard,none,40,51
75,male,group E,some high school,standard,completed,81,76
45,female,group A,some high school,free/reduced,none,44,45
86,female,group D,some college,free/reduced,completed,67,83
81,male,group E,high school,free/reduced,completed,86,75
82,female,group B,some high school,standard,completed,65,78
76,female,group D,associate's degree,free/reduced,none,55,76
72,female,group D,bachelor's degree,free/reduced,none,62,74
63,male,group A,high school,standard,none,63,62
99,female,group E,master's degree,standard,completed,88,95
55,male,group C,high school,free/reduced,none,62,55
71,female,group C,high school,free/reduced,completed,59,65
78,female,group D,some college,standard,completed,68,77
86,female,group D,some college,free/reduced,none,77,86

In [7]:
df=pd.read_csv('D:\\Pyhton\\dataset\\StudentsPerformance.csv', header=1)      # Change header i.e. skip top row
df

,female,group B,bachelor's degree,standard,none,72,72.1,74
0,female,group C,some college,standard,completed,69,90,88
1,female,group B,master's degree,standard,none,90,95,93
2,male,group A,associate's degree,free/reduced,none,47,57,44
3,male,group C,some college,standard,none,76,78,75
4,female,group B,associate's degree,standard,none,71,83,78
5,female,group B,some college,standard,completed,88,95,92
6,male,group B,some college,free/reduced,none,40,43,39
7,male,group D,high school,free/reduced,completed,64,64,67
8,female,group B,high school,free/reduced,none,38,60,50
9,male,group C,associate's degree,standard,none,58,54,52
10,male,group D,associate's degree,standard,none,40,52,43
11,female,group B,high school,standard,none,65,81,73
12,male,group A,some college,standard,completed,78,72,70
13,female,group A,master's degree,standard,none,50,53,58
14,female,group C,some high school,standard,none,69,75,78
15,male,group C,high school,standard,none,88,89,86
16,female,group B,some high school,free/reduced,none,18,32,28
17,male,group C,master's degree,free/reduced,completed,46,42,46
18,female,group C,associate's degree,free/reduced,none,54,58,61
19,male,group D,high school,standard,none,66,69,63
20,female,group B,some college,free/reduced,completed,65,75,70
21,male,group D,some college,standard,none,44,54,53
22,female,group C,some high school,standard,none,69,73,73
23,male,group D,bachelor's degree,free/reduced,completed,74,71,80
24,male,group A,master's degree,free/reduced,none,73,74,72
25,male,group B,some college,standard,none,69,54,55
26,female,group C,bachelor's degree,standard,none,67,69,75
27,male,group C,high school,standard,none,70,70,65
28,female,group D,master's degree,standard,none,62,70,75
29,female,group D,some college,standard,none,69,74,74
...,...,...,...,...,...,...,...,...
969,female,group D,bachelor's degree,standard,none,89,100,100
970,male,group C,some high school,standard,completed,78,72,69
971,female,group A,high school,free/reduced,completed,53,50,60
972,female,group D,some college,free/reduced,none,49,65,61
973,female,group A,some college,standard,none,54,63,67
974,female,group C,some college,standard,completed,64,82,77
975,male,group B,some college,free/reduced,completed,60,62,60
976,male,group C,associate's degree,standard,none,62,65,58
977,male,group D,high school,standard,completed,55,41,48
978,female,group C,associate's degree,standard,none,91,95,94
979,female,group B,high school,free/reduced,none,8,24,23
980,male,group D,some high school,standard,none,81,78,78
981,male,group B,some high school,standard,completed,79,85,86
982,female,group A,some college,standard,completed,78,87,91
983,female,group C,some high school,standard,none,74,75,82
984,male,group A,high school,standard,none,57,51,54
985,female,group C,associate's degree,standard,none,40,59,51
986,male,group E,some high school,standard,completed,81,75,76
987,female,group A,some high school,free/reduced,none,44,45,45
988,female,group D,some college,free/reduced,completed,67,86,83
989,male,group E,high school,free/reduced,completed,86,81,75
990,female,group B,some high school,standard,completed,65,82,78
991,female,group D,associate's degree,free/reduced,none,55,76,76
992,female,group D,bachelor's degree,free/reduced,none,62,72,74
993,male,group A,high school,standard,none,63,63,62
994,female,group E,master's degree,standard,completed,88,99,95
995,male,group C,high school,free/reduced,none,62,55,55
996,female,group C,high school,free/reduced,completed,59,71,65
997,female,group D,some college,standard,completed,68,78,77
998,female,group D,some college,free/reduced,none,77,86,86

In [16]:
df=pd.read_csv('D:\\Pyhton\\dataset\\StudentsPerformance.csv', header=None, prefix='Col ') # Change header to any name
df

,Col 0,Col 1,Col 2,Col 3,Col 4,Col 5,Col 6,Col 7
0,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
1,female,group B,bachelor's degree,standard,none,72,72,74
2,female,group C,some college,standard,completed,69,90,88
3,female,group B,master's degree,standard,none,90,95,93
4,male,group A,associate's degree,free/reduced,none,47,57,44
5,male,group C,some college,standard,none,76,78,75
6,female,group B,associate's degree,standard,none,71,83,78
7,female,group B,some college,standard,completed,88,95,92
8,male,group B,some college,free/reduced,none,40,43,39
9,male,group D,high school,free/reduced,completed,64,64,67
10,female,group B,high school,free/reduced,none,38,60,50
11,male,group C,associate's degree,standard,none,58,54,52
12,male,group D,associate's degree,standard,none,40,52,43
13,female,group B,high school,standard,none,65,81,73
14,male,group A,some college,standard,completed,78,72,70
15,female,group A,master's degree,standard,none,50,53,58
16,female,group C,some high school,standard,none,69,75,78
17,male,group C,high school,standard,none,88,89,86
18,female,group B,some high school,free/reduced,none,18,32,28
19,male,group C,master's degree,free/reduced,completed,46,42,46
20,female,group C,associate's degree,free/reduced,none,54,58,61
21,male,group D,high school,standard,none,66,69,63
22,female,group B,some college,free/reduced,completed,65,75,70
23,male,group D,some college,standard,none,44,54,53
24,female,group C,some high school,standard,none,69,73,73
25,male,group D,bachelor's degree,free/reduced,completed,74,71,80
26,male,group A,master's degree,free/reduced,none,73,74,72
27,male,group B,some college,standard,none,69,54,55
28,female,group C,bachelor's degree,standard,none,67,69,75
29,male,group C,high school,standard,none,70,70,65
...,...,...,...,...,...,...,...,...
971,female,group D,bachelor's degree,standard,none,89,100,100
972,male,group C,some high school,standard,completed,78,72,69
973,female,group A,high school,free/reduced,completed,53,50,60
974,female,group D,some college,free/reduced,none,49,65,61
975,female,group A,some college,standard,none,54,63,67
976,female,group C,some college,standard,completed,64,82,77
977,male,group B,some college,free/reduced,completed,60,62,60
978,male,group C,associate's degree,standard,none,62,65,58
979,male,group D,high school,standard,completed,55,41,48
980,female,group C,associate's degree,standard,none,91,95,94
981,female,group B,high school,free/reduced,none,8,24,23
982,male,group D,some high school,standard,none,81,78,78
983,male,group B,some high school,standard,completed,79,85,86
984,female,group A,some college,standard,completed,78,87,91
985,female,group C,some high school,standard,none,74,75,82
986,male,group A,high school,standard,none,57,51,54
987,female,group C,associate's degree,standard,none,40,59,51
988,male,group E,some high school,standard,completed,81,75,76
989,female,group A,some high school,free/reduced,none,44,45,45
990,female,group D,some college,free/reduced,completed,67,86,83
991,male,group E,high school,free/reduced,completed,86,81,75
992,female,group B,some high school,standard,completed,65,82,78
993,female,group D,associate's degree,free/reduced,none,55,76,76
994,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,male,group A,high school,standard,none,63,63,62
996,female,group E,master's degree,standard,completed,88,99,95
997,male,group C,high school,free/reduced,none,62,55,55
998,female,group C,high school,free/reduced,completed,59,71,65
999,female,group D,some college,standard,completed,68,78,77
1000,female,group D,some college,free/reduced,none,77,86,86

In [9]:
df=pd.read_csv('D:\\Pyhton\\dataset\\StudentsPerformance.csv', names=['a','b','c','f','t','u', 'y','p']) # Give heading name 
df

,a,b,c,f,t,u,y,p
0,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
1,female,group B,bachelor's degree,standard,none,72,72,74
2,female,group C,some college,standard,completed,69,90,88
3,female,group B,master's degree,standard,none,90,95,93
4,male,group A,associate's degree,free/reduced,none,47,57,44
5,male,group C,some college,standard,none,76,78,75
6,female,group B,associate's degree,standard,none,71,83,78
7,female,group B,some college,standard,completed,88,95,92
8,male,group B,some college,free/reduced,none,40,43,39
9,male,group D,high school,free/reduced,completed,64,64,67
10,female,group B,high school,free/reduced,none,38,60,50
11,male,group C,associate's degree,standard,none,58,54,52
12,male,group D,associate's degree,standard,none,40,52,43
13,female,group B,high school,standard,none,65,81,73
14,male,group A,some college,standard,completed,78,72,70
15,female,group A,master's degree,standard,none,50,53,58
16,female,group C,some high school,standard,none,69,75,78
17,male,group C,high school,standard,none,88,89,86
18,female,group B,some high school,free/reduced,none,18,32,28
19,male,group C,master's degree,free/reduced,completed,46,42,46
20,female,group C,associate's degree,free/reduced,none,54,58,61
21,male,group D,high school,standard,none,66,69,63
22,female,group B,some college,free/reduced,completed,65,75,70
23,male,group D,some college,standard,none,44,54,53
24,female,group C,some high school,standard,none,69,73,73
25,male,group D,bachelor's degree,free/reduced,completed,74,71,80
26,male,group A,master's degree,free/reduced,none,73,74,72
27,male,group B,some college,standard,none,69,54,55
28,female,group C,bachelor's degree,standard,none,67,69,75
29,male,group C,high school,standard,none,70,70,65
...,...,...,...,...,...,...,...,...
971,female,group D,bachelor's degree,standard,none,89,100,100
972,male,group C,some high school,standard,completed,78,72,69
973,female,group A,high school,free/reduced,completed,53,50,60
974,female,group D,some college,free/reduced,none,49,65,61
975,female,group A,some college,standard,none,54,63,67
976,female,group C,some college,standard,completed,64,82,77
977,male,group B,some college,free/reduced,completed,60,62,60
978,male,group C,associate's degree,standard,none,62,65,58
979,male,group D,high school,standard,completed,55,41,48
980,female,group C,associate's degree,standard,none,91,95,94
981,female,group B,high school,free/reduced,none,8,24,23
982,male,group D,some high school,standard,none,81,78,78
983,male,group B,some high school,standard,completed,79,85,86
984,female,group A,some college,standard,completed,78,87,91
985,female,group C,some high school,standard,none,74,75,82
986,male,group A,high school,standard,none,57,51,54
987,female,group C,associate's degree,standard,none,40,59,51
988,male,group E,some high school,standard,completed,81,75,76
989,female,group A,some high school,free/reduced,none,44,45,45
990,female,group D,some college,free/reduced,completed,67,86,83
991,male,group E,high school,free/reduced,completed,86,81,75
992,female,group B,some high school,standard,completed,65,82,78
993,female,group D,associate's degree,free/reduced,none,55,76,76
994,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,male,group A,high school,standard,none,63,63,62
996,female,group E,master's degree,standard,completed,88,99,95
997,male,group C,high school,free/reduced,none,62,55,55
998,female,group C,high school,free/reduced,completed,59,71,65
999,female,group D,some college,standard,completed,68,78,77
1000,female,group D,some college,free/reduced,none,77,86,86

In [10]:
df.head(50)

,a,b,c,f,t,u,y,p
0,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
1,female,group B,bachelor's degree,standard,none,72,72,74
2,female,group C,some college,standard,completed,69,90,88
3,female,group B,master's degree,standard,none,90,95,93
4,male,group A,associate's degree,free/reduced,none,47,57,44
5,male,group C,some college,standard,none,76,78,75
6,female,group B,associate's degree,standard,none,71,83,78
7,female,group B,some college,standard,completed,88,95,92
8,male,group B,some college,free/reduced,none,40,43,39
9,male,group D,high school,free/reduced,completed,64,64,67
10,female,group B,high school,free/reduced,none,38,60,50
11,male,group C,associate's degree,standard,none,58,54,52
12,male,group D,associate's degree,standard,none,40,52,43
13,female,group B,high school,standard,none,65,81,73
14,male,group A,some college,standard,completed,78,72,70
15,female,group A,master's degree,standard,none,50,53,58
16,female,group C,some high school,standard,none,69,75,78
17,male,group C,high school,standard,none,88,89,86
18,female,group B,some high school,free/reduced,none,18,32,28
19,male,group C,master's degree,free/reduced,completed,46,42,46
20,female,group C,associate's degree,free/reduced,none,54,58,61
21,male,group D,high school,standard,none,66,69,63
22,female,group B,some college,free/reduced,completed,65,75,70
23,male,group D,some college,standard,none,44,54,53
24,female,group C,some high school,standard,none,69,73,73
25,male,group D,bachelor's degree,free/reduced,completed,74,71,80
26,male,group A,master's degree,free/reduced,none,73,74,72
27,male,group B,some college,standard,none,69,54,55
28,female,group C,bachelor's degree,standard,none,67,69,75
29,male,group C,high school,standard,none,70,70,65
30,female,group D,master's degree,standard,none,62,70,75
31,female,group D,some college,standard,none,69,74,74
32,female,group B,some college,standard,none,63,65,61
33,female,group E,master's degree,free/reduced,none,56,72,65
34,male,group D,some college,standard,none,40,42,38
35,male,group E,some college,standard,none,97,87,82
36,male,group E,associate's degree,standard,completed,81,81,79
37,female,group D,associate's degree,standard,none,74,81,83
38,female,group D,some high school,free/reduced,none,50,64,59
39,female,group D,associate's degree,free/reduced,completed,75,90,88
40,male,group B,associate's degree,free/reduced,none,57,56,57
41,male,group C,associate's degree,free/reduced,none,55,61,54
42,female,group C,associate's degree,standard,none,58,73,68
43,female,group B,associate's degree,standard,none,53,58,65
44,male,group B,some college,free/reduced,completed,59,65,66
45,female,group E,associate's degree,free/reduced,none,50,56,54
46,male,group B,associate's degree,standard,none,65,54,57
47,female,group A,associate's degree,standard,completed,55,65,62
48,female,group C,high school,standard,none,66,71,76
49,female,group D,associate's degree,free/reduced,completed,57,74,76

In [11]:
df.tail(50)

,a,b,c,f,t,u,y,p
951,male,group E,high school,standard,none,94,73,71
952,female,group D,some college,standard,completed,75,77,83
953,female,group E,some high school,free/reduced,none,74,74,72
954,male,group C,high school,standard,completed,58,52,54
955,female,group C,some college,standard,none,62,69,69
956,male,group E,associate's degree,standard,none,72,57,62
957,male,group C,some college,standard,none,84,87,81
958,female,group D,master's degree,standard,none,92,100,100
959,female,group D,high school,standard,none,45,63,59
960,male,group C,high school,standard,none,75,81,71
961,female,group A,some college,standard,none,56,58,64
962,female,group D,some high school,free/reduced,none,48,54,53
963,female,group E,associate's degree,standard,none,100,100,100
964,female,group C,some high school,free/reduced,completed,65,76,75
965,male,group D,some college,standard,none,72,57,58
966,female,group D,some college,standard,none,62,70,72
967,male,group A,some high school,standard,completed,66,68,64
968,male,group C,some college,standard,none,63,63,60
969,female,group E,associate's degree,standard,none,68,76,67
970,female,group B,bachelor's degree,standard,none,75,84,80
971,female,group D,bachelor's degree,standard,none,89,100,100
972,male,group C,some high school,standard,completed,78,72,69
973,female,group A,high school,free/reduced,completed,53,50,60
974,female,group D,some college,free/reduced,none,49,65,61
975,female,group A,some college,standard,none,54,63,67
976,female,group C,some college,standard,completed,64,82,77
977,male,group B,some college,free/reduced,completed,60,62,60
978,male,group C,associate's degree,standard,none,62,65,58
979,male,group D,high school,standard,completed,55,41,48
980,female,group C,associate's degree,standard,none,91,95,94
981,female,group B,high school,free/reduced,none,8,24,23
982,male,group D,some high school,standard,none,81,78,78
983,male,group B,some high school,standard,completed,79,85,86
984,female,group A,some college,standard,completed,78,87,91
985,female,group C,some high school,standard,none,74,75,82
986,male,group A,high school,standard,none,57,51,54
987,female,group C,associate's degree,standard,none,40,59,51
988,male,group E,some high school,standard,completed,81,75,76
989,female,group A,some high school,free/reduced,none,44,45,45
990,female,group D,some college,free/reduced,completed,67,86,83
991,male,group E,high school,free/reduced,completed,86,81,75
992,female,group B,some high school,standard,completed,65,82,78
993,female,group D,associate's degree,free/reduced,none,55,76,76
994,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,male,group A,high school,standard,none,63,63,62
996,female,group E,master's degree,standard,completed,88,99,95
997,male,group C,high school,free/reduced,none,62,55,55
998,female,group C,high school,free/reduced,completed,59,71,65
999,female,group D,some college,standard,completed,68,78,77
1000,female,group D,some college,free/reduced,none,77,86,86

In [12]:
df=pd.read_csv('D:\\Pyhton\\dataset\\StudentsPerformance.csv', true_values=['gender'])
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
10,male,group C,associate's degree,standard,none,58,54,52
11,male,group D,associate's degree,standard,none,40,52,43
12,female,group B,high school,standard,none,65,81,73
13,male,group A,some college,standard,completed,78,72,70
14,female,group A,master's degree,standard,none,50,53,58
15,female,group C,some high school,standard,none,69,75,78
16,male,group C,high school,standard,none,88,89,86
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
19,female,group C,associate's degree,free/reduced,none,54,58,61
20,male,group D,high school,standard,none,66,69,63
21,female,group B,some college,free/reduced,completed,65,75,70
22,male,group D,some college,standard,none,44,54,53
23,female,group C,some high school,standard,none,69,73,73
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
25,male,group A,master's degree,free/reduced,none,73,74,72
26,male,group B,some college,standard,none,69,54,55
27,female,group C,bachelor's degree,standard,none,67,69,75
28,male,group C,high school,standard,none,70,70,65
29,female,group D,master's degree,standard,none,62,70,75
...,...,...,...,...,...,...,...,...
970,female,group D,bachelor's degree,standard,none,89,100,100
971,male,group C,some high school,standard,completed,78,72,69
972,female,group A,high school,free/reduced,completed,53,50,60
973,female,group D,some college,free/reduced,none,49,65,61
974,female,group A,some college,standard,none,54,63,67
975,female,group C,some college,standard,completed,64,82,77
976,male,group B,some college,free/reduced,completed,60,62,60
977,male,group C,associate's degree,standard,none,62,65,58
978,male,group D,high school,standard,completed,55,41,48
979,female,group C,associate's degree,standard,none,91,95,94
980,female,group B,high school,free/reduced,none,8,24,23
981,male,group D,some high school,standard,none,81,78,78
982,male,group B,some high school,standard,completed,79,85,86
983,female,group A,some college,standard,completed,78,87,91
984,female,group C,some high school,standard,none,74,75,82
985,male,group A,high school,standard,none,57,51,54
986,female,group C,associate's degree,standard,none,40,59,51
987,male,group E,some high school,standard,completed,81,75,76
988,female,group A,some high school,free/reduced,none,44,45,45
989,female,group D,some college,free/reduced,completed,67,86,83
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [13]:
df=pd.read_csv('D:\\Pyhton\\dataset\\2017.csv')
df

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182
5,Netherlands,6,7.377,7.427426,7.326574,1.503945,1.428939,0.810696,0.585384,0.470490,0.282662,2.294804
6,Canada,7,7.316,7.384403,7.247597,1.479204,1.481349,0.834558,0.611101,0.435540,0.287372,2.187264
7,New Zealand,8,7.314,7.379510,7.248490,1.405706,1.548195,0.816760,0.614062,0.500005,0.382817,2.046456
8,Sweden,9,7.284,7.344095,7.223905,1.494387,1.478162,0.830875,0.612924,0.385399,0.384399,2.097538
9,Australia,10,7.284,7.356651,7.211349,1.484415,1.510042,0.843887,0.601607,0.477699,0.301184,2.065211
10,Israel,11,7.213,7.279853,7.146146,1.375382,1.376290,0.838404,0.405989,0.330083,0.085242,2.801757
11,Costa Rica,12,7.079,7.168112,6.989888,1.109706,1.416404,0.759509,0.580132,0.214613,0.100107,2.898639
12,Austria,13,7.006,7.070670,6.941330,1.487097,1.459945,0.815328,0.567766,0.316472,0.221060,2.138506
13,United States,14,6.993,7.074657,6.911343,1.546259,1.419921,0.774287,0.505741,0.392579,0.135639,2.218113
14,Ireland,15,6.977,7.043352,6.910649,1.535707,1.558231,0.809783,0.573110,0.427858,0.298388,1.773869
15,Germany,16,6.951,7.005382,6.896619,1.487923,1.472520,0.798951,0.562511,0.336269,0.276732,2.015770
16,Belgium,17,6.891,6.955821,6.826179,1.463781,1.462313,0.818092,0.539771,0.231503,0.251343,2.124210
17,Luxembourg,18,6.863,6.923686,6.802314,1.741944,1.457584,0.845089,0.596628,0.283181,0.318834,1.619512
18,United Kingdom,19,6.714,6.783792,6.644209,1.441634,1.496460,0.805336,0.508190,0.492774,0.265428,1.704144
19,Chile,20,6.652,6.739251,6.564749,1.252785,1.284025,0.819480,0.376895,0.326662,0.082288,2.509586
20,United Arab Emirates,21,6.648,6.722047,6.573952,1.626343,1.266410,0.726798,0.608345,0.360942,0.324490,1.734704
21,Brazil,22,6.635,6.725470,6.544531,1.107353,1.431306,0.616552,0.437454,0.162350,0.111093,2.769267
22,Czech Republic,23,6.609,6.683862,6.534138,1.352682,1.433885,0.754444,0.490946,0.088107,0.036873,2.451862
23,Argentina,24,6.599,6.690085,6.507915,1.185295,1.440451,0.695137,0.494519,0.109457,0.059740,2.614005
24,Mexico,25,6.578,6.671149,6.484851,1.153184,1.210862,0.709979,0.412730,0.120990,0.132774,2.837155
25,Singapore,26,6.572,6.636723,6.507277,1.692278,1.353814,0.949492,0.549841,0.345966,0.464308,1.216362
26,Malta,27,6.527,6.598397,6.455603,1.343280,1.488412,0.821944,0.588767,0.574731,0.153066,1.556863
27,Uruguay,28,6.454,6.545906,6.362094,1.217560,1.412228,0.719217,0.579392,0.175097,0.178062,2.172410
28,Guatemala,29,6.454,6.566874,6.341126,0.872002,1.255585,0.540240,0.531311,0.283488,0.077223,2.893891
29,Panama,30,6.452,6.557131,6.346870,1.233748,1.373193,0.706156,0.550027,0.210557,0.070984,2.307200
...,...,...,...,...,...,...,...,...,...,...,...,...
125,Congo (Kinshasa),126,4.280,4.357811,4.202190,0.092102,1.229023,0.191407,0.235961,0.246456,0.060241,2.224959
126,Mali,127,4.190,4.269671,4.110329,0.476180,1.281473,0.169366,0.306614,0.183354,0.104970,1.668191
127,Ivory Coast,128,4.180,4.275183,4.084817,0.603049,0.904780,0.048642,0.447706,0.201237,0.130062,1.844964
128,Cambodia,129,4.168,4.278518,4.057483,0.601765,1.006238,0.429783,0.633376,0.385923,0.068106,1.042941
129,Sudan,130,4.139,4.345747,3.932253,0.659517,1.214009,0.290921,0.014996,0.182317,0.089848,1.687066
130,Ghana,131,4.120,4.222707,4.017293,0.667225,0.873665,0.295638,0.423026,0.256924,0.025336,1.577868
131,Ukraine,132,4.096,4.185410,4.006590,0.894652,1.394538,0.575904,0.122975,0.270061,0.023029,0.814382
132,Uganda,133,4.081,4.195800,3.966200,0.381431,1.129828,0.217633,0.443186,0.325766,0.057070,1.526363
133,Burkina Faso,134,4.032,4.124059,3.939941,0.350228,1.043280,0.215844,0.324368,0.250865,0.120328,1.727213
134,Niger,135,4.028,4.111947,3.944053,0.161925,0.993025,0.268505,0.363659,0.228674,0.138573,1.873983
135,Malawi,136,3.970,4.077479,3.862521,0.233442,0.512569,0.315090,0.466915,0.287170,0.072712,2.081786
136,Chad,137,3.936,4.034712,3.837289,0.438013,0.953856,0.041135,0.162342,0.216114,0.053582,2.071238
137,Zimbabwe,138,3.875,3.978700,3.771300,0.375847,1.083096,0.196764,0.336384,0.189143,0.095375,1.597970
138,Lesotho,139,3.808,4.044344,3.571656,0.521021,1.190095,0.000000,0.390661,0.157497,0.119095,1.429835
139,Angola,140,3.795,3.951642,3.638358,0.858428,1.104412,0.049869,0.000000,0.097926,0.069720,1.614482
140,Afghanistan,141,3.794,3.873661,3.714338,0.401477,0.581543,0.180747,0.106180,0.311871,0.061158,2.150801
141,Botswana,142,3.766,3.874123,3.657877,1.122094,1.221555,0.341756,0.505196,0.099348,0.098583,0.377914
142,Benin,143,3.657,3.745784,3.568217,0.431085,0.435300,0.209930,0.425963,0.207948,0.060929,1.885631
143,Madagascar,144,3.644,3.714319,3.573681,0.305809,0.913020,0.375223,0.189197,0.208733,0.067232,1.584613
144,Haiti,145,3.603,3.734715,3.471285,0.368610,0.640450,0.277321,0.030370,0.489204,0.099872,1.697168
145,Yemen,146,3.593,3.692750,3.493250,0.591683,0.935382,0.310081,0.249464,0.104125,0.056767,1.345601
146,South Sudan,147,3.591,3.725539,3.456462,0.397249,0.601323,0.163486,0.147062,0.285671,0.116794,1.879567
147,Liberia,148,3.533,3.653756,3.412244,0.119042,0.872118,0.229918,0.332881,0.266550,0.038948,1.673286
148,Guinea,149,3.507,3.584428,3.429572,0.244550,0.791245,0.194129,0.348588,0.264815,0.110938,1.552312
149,Togo,150,3.495,3.594038,3.395962,0.305445,0.431883,0.247106,0.380426,0.196896,0.095665,1.837229
150,Rwanda,151,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061
151,Syria,152,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574
152,Tanzania,153,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130
153,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024
154,Central African Republic,155,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005

In [14]:
df.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [15]:
df.columns[0:5]

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low'],
      dtype='object')

In [17]:
df.head()

,Col 0,Col 1,Col 2,Col 3,Col 4,Col 5,Col 6,Col 7
0,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
1,female,group B,bachelor's degree,standard,none,72,72,74
2,female,group C,some college,standard,completed,69,90,88
3,female,group B,master's degree,standard,none,90,95,93
4,male,group A,associate's degree,free/reduced,none,47,57,44

In [18]:
df.tail()

,Col 0,Col 1,Col 2,Col 3,Col 4,Col 5,Col 6,Col 7
996,female,group E,master's degree,standard,completed,88,99,95
997,male,group C,high school,free/reduced,none,62,55,55
998,female,group C,high school,free/reduced,completed,59,71,65
999,female,group D,some college,standard,completed,68,78,77
1000,female,group D,some college,free/reduced,none,77,86,86